.text-center1{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row{
    background-color: rgb(164, 149, 177);
    width: 25%;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(62, 62, 62);
    border-radius: 10px;
}
.form-control{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgb(62, 62, 62);
    border: none;
}
.form_button{
    margin-top: 10px;
}
.btn{
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgb(62, 62, 62);
    border: none;
    cursor: pointer;
}
.mt-3{
    font-family: 'Abel', sans-serif;
}