.card-body{
    background-color: rgb(164, 149, 177);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(62, 62, 62);
}
.form-control{
    margin: 5px;
    padding: 10px;
    width: 90%;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgb(62, 62, 62);
    border: none;
}
.text-center{
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
}
.btn-primary{
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgb(62, 62, 62);
    border: none;
}
.text-inverse{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.text-inverse a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
}
